/* dos tipografias de letras css con serifa y sin serifa*/
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Open+Sans&family=PT+Serif:wght@700&display=swap');

/* TIPO DE TEXTO font-family: 'Arvo', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'PT Serif', serif;*/
body {
    font-size: 16px;
    font-family: "Open Sans", "Arial", "Verdana", "Helvetica", sans-serif;
    color: darkblue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Arvo", "Arial", "Verdana", "Helvetica", serif;
    color: rgb(0, 123, 71);
    text-transform: capitalize;
}

/* 
maquetación */
body main section {
    padding: 5vw;

}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.1em;
}

h2,
strong {
    color: firebrick;
}

}

a {
    color: purple;
    font-weight: bold;
}

figcaption {
    font-size: small;
    font-style: italic;
}

/* estilos para los parrafos notas */

p.nota {
    background-color: steelblue;
    padding: 1em;
    border-left: 0.25em solid pink;
    border-radius: 5px;

}

/* estilos para el footer */
/* fondo color negro */
body > footer {
    background-color: black;
    padding-left: 7.5vw;
    padding-right: 7.5vw;
    padding-top: 2%;
    padding-bottom: 2%;
}
/* quitar estilos de lista */
body > footer li {
    list-style: none;
}


/*convertir li en elementos en linea */
body > footer li.validator,
body > footer li.legal {
    display: inline-block;
    font-size: small;
}

/* reducir iconos validadores */
figure.w3c {
    width: 5vw;
    height: 1.76vw;
    margin:0.5em;
    width:  2em;
    height:  0.7em;
}

/* poner el mismo margen que los figures validadores */

li.legal,
li.legal a {
    height: 4em;
    line-height: 4em;
}
/* 
textos en color blanco */
body > footer h2,
body > footer li a,
body > footer li a span {
    color: white;
}

footer section.footer__pie h2 {
    display: none; }

section.contentinfo a.pattern figure {
    width: 10vw ;
    height: 5vw ;
    background-image: url('../svg/logo.svg');
    background-position: 50% 50%;
    background-repeat: : no-repeat;
    background-size: cover;
}

section.contentinfo a.pattern {
    background: tomato;
    width: 40%;
}
div[role="group"] {
    width: 40%;
}



p {
    line-height: 1.5em;
}

/* imagenes validadores */
/* reglas comunes */
figure.w3c.css {
    background-image: url('../svg/w3c/css.svg');
}

figure.w3c.html5 {
    background-image: url('../svg/w3c/html5.svg');
}

figure.w3c.wcag {
    background-image: url('../svg/w3c/wcag.svg');
}

}

figure.w3c {
    width: 88px;
    height: 31px;
    background-position: 50% 50%;
    background-repeat: : no-repeat;
    background-size: cover;


}

article.position {
    position: relative;
}

figure.caja {
    width: 500px;
    height: 300px;
    background-color: yellow;
    background-image: url('https://cdn.pixabay.com/photo/2016/11/18/19/01/paris-1836415_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

}

article.imagen {
    width: 500px;
    height: 300px;
    background-color: blueviolet;

    opacity: 0.5;
}

article.imagen {
    position: relative;
}

article.imagen:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url('https://cdn.pixabay.com/photo/2016/11/18/19/01/paris-1836415_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
      opacity: :0.5;  
    background-position: 50% 50%;
  
}

article.imagen h2 {
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    color: black;

}

article.imagen p {
    position: relative;
    text-align: center;
    color: black;
    font-weight: bold;
}


.pechado,
    {
    color: white
}


