/* dos tipografias de letras css con serifa y sin serifa*/
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Open+Sans&family=PT+Serif:wght@700&display=swap');

/* TIPO DE TEXTO font-family: 'Arvo', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'PT Serif', serif;*/
body {
    font-size: 16px;
    font-family: "Open Sans", "Arial", "Verdana", "Helvetica", sans-serif;
    color: darkblue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Arvo", "Arial", "Verdana", "Helvetica", serif;
    color: rgb(0, 123, 71);
    text-transform: capitalize;
}
/* 
maquetación */
body main section {
    padding: 5vw;
    
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.1em;
}

h2,
strong {
    color: firebrick;
}

}

a {
    color: purple;
    font-weight: bold;
}

figcaption {
    font-size: small;
    font-style: italic;
}

/* estilos para los parrafos notas */

p.nota{
   background-color: steelblue;
    padding: 1em;
    border-left: 0.25em solid pink;
    border-radius: 5px;
    
}



p {
    line-height: 1.5em;
}